<div id="wrapper">
  <div id="start-btn" class="effect1" style="vertical-align: middle">
    <span>Start</span>
  </div>
  <div id="progress-container">
    <div id="progress-bar" class="hide">
    </div>
  </div>
  <div id="question-container" class="hide">
    <div id="question">
    </div>
    <div id="answers">
    </div>
  </div>
  <div id="question-bottom" class="hide">
    <div id="prompt-message">
    </div>
    <div title="Next question" id="next-btn">>></div title="Next question">
  </div>
  <div id=get-score-btn class="hide"><button>See your score!</button></div>
  <div id="result" class="hide">
  </div>
  <div id="redo" class="hide"><button>Do 10 more?</button></div>
</div>
